.mainParent {
    width: 95%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardMain {
    width: 95%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
}

.cardMain a {
    text-decoration: none;
}

.latestProducts {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem auto;
}

.latestProducts h4 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: sans-serif;
}

.latestProducts h5 {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--main);
}

.latestProducts h5 a {
    text-decoration: none;
    color: white;
    background-color: var(--main);
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
}

.purchase {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1eded;
    padding: 2.5rem 0.5rem;
    border-radius: 0.5rem;
}

.purchase div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.purchase div h3 {
    color: #206992;
    font-weight: 600;
    font-family: sans-serif;
}

.purchase div p {
    color: gray;
}

.services {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.part {
    padding: 2rem 1rem;
    text-align: center;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    color: rgb(45, 45, 45);
}

.part:hover {
    color: rgb(0, 0, 0);
}

.part:nth-child(1) {
    background-color: #ceb4a5;
}

.part:nth-child(1):hover {
    background-color: #bc9985;
}

.part:nth-child(2) {
    background-color: #b3d6d4;
}

.part:nth-child(2):hover {
    background-color: #84b7b4;
}

.part:nth-child(3) {
    background-color: #bccd87;
}

.part:nth-child(3):hover {
    background-color: #8d9e5d;
}

.part:nth-child(4) {
    background-color: #7e9fd0;
}

.part:nth-child(4):hover {
    background-color: #5a7bab;
}

.part i {
    font-size: 2rem;
}

.part h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.part h5 {
    font-size: 1.1rem;
    font-weight: 500;
}

@media (max-width:950px) {
    .services {
        flex-direction: column;
    }
}

@media (max-width:800px) {
    .latestProducts {
        justify-content: space-between;
        width: 100%;
        margin: 0rem;
    }

    .latestProducts h4 {
        font-size: 1.3rem;
    }

    .latestProducts h5 {
        font-size: 0.8rem;
    }
}